# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# Create a tuple with the first 10 positive integers. Print the tuple.
tup_1 = (1,2,3,4,5,6,7,8,9,10)
print(tup_1)
print(type(tup_1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [2]:
# Print the first, middle, and last elements of the tuple created in Assignment 1.
first = tup_1[0]
middle = tup_1[len(tup_1)//2]
last = tup_1[-1]
print(first,middle,last)

1 6 10

In [4]:
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(tup_1[:3])
print(tup_1[-3:])
print(tup_1[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [24]:
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
tup_mat = ((1,2,3),
           (4,5,6),
           (7,8,9))
print(tup_mat[1][2])

6

In [5]:
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1 = (1, 2, 3)
t2 = (4, 5, 6)
mer_t = t1 + t2
print(mer_t)

(1, 2, 3, 4, 5, 6)

In [6]:
# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tup_dup = (4,5,6,7,7,7,3,2,1,9,7)
print(tup_dup.count(7))

4

In [7]:
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
packed_tuples = (1,2,3,4,5)
a,b,c,d,e = packed_tuples
print(a,b,c,d,e)

1 2 3 4 5

In [8]:
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst = [0,1,2,3,4]
con_tup = tuple(lst)
print(con_tup)
print(type(con_tup))

(0, 1, 2, 3, 4)
<class 'tuple'>

In [11]:
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup_3 = ((1,2,3),(4,5,6),(7,8,9))
for i in tup_3:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [18]:
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup_11 = (1,2,3,4,5)
print(tup_11,type(tup_11))
tup_11 = list(tup_11)
print(type(tup_11))
tup_11.append(6)
print(tup_11)
tup_11 = tuple(tup_11)

print(tup_11,type(tup_11))

(1, 2, 3, 4, 5) <class 'tuple'>
<class 'list'>
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [19]:
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
tup_s = ("P","r","a","n","a","v")
st_tup = ''.join(tup_s)
print(st_tup)

Pranav

In [20]:
# Create a dictionary with tuple keys and integer values. Print the dictionary.
dic_tup = {("Pranav","Ghadge"): 11,("Rohit","Chavan"):111,("Maddy","sk"):1}
print(dic_tup)

{('Pranav', 'Ghadge'): 11, ('Rohit', 'Chavan'): 111, ('Maddy', 'sk'): 1}

In [26]:
# Create a nested tuple and iterate over the elements, printing each element.
tup_mat = ((1,2,3),
           (4,5,6),
           (7,8,9))
for i in tup_mat:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [21]:
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tup_dup = (1,2,2,3,3,3,4,4,4,4,5,5,5,5,5)
set_tup_dup = set(tup_dup)
print(set_tup_dup)

{1, 2, 3, 4, 5}

In [22]:
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def mms(sam_tup):
    min_s = min(sam_tup)
    max_s = max(sam_tup)
    sum_s = sum(sam_tup)
    return min_s,max_s,sum_s

sam_tup = (1,2,3,4,5,6,7,8,9,10)
mms(sam_tup)

(1, 10, 55)